{% extends "djangoApp/adminbase.html" %}
{% block main %}
                            
                              <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages"
                                ><div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                 Manage Blog
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div
                            ></a>

                            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">

                                    <!--show all posts in table -->
                                    <a class="nav-link" href="{% url 'posts_table' %}">all posts</a>

                                     <!--show forbiddden words in table -->
                                     <a class="nav-link" href="{% url 'forbiden_words_table' %}">forbidden words</a>

                                    <!-- users -->
                                    <!--show all users in table -->
                                     <a class="nav-link" href="{% url 'users_table' %}">users</a>

                                    <!-- categories -->
                                    <!--show all categories  in table -->
                                    <a class="nav-link" href="{% url 'categories_table' %}">categories </a>
                                    <a class="nav-link" href="{% url 'tag_table' %}">Tags </a>
                                </nav>
                                </div>

                                 <a class="nav-link" href="{% url 'homepage' %}">homepage </a>
                                  <div>
                                  <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsecategories" aria-expanded="false" aria-controls="collapsecategories">


                                 <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                 categories
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="collapsecategories" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav accordion" id="collapsecategories">

                                    {% for category in all_categories %}
                                 <li><a class="nav-link" href="{% url 'categorypage' category.cat_name %}" >{{category.cat_name }} </a>

                                 <form method="POST" action="/app/home/{{category.id}}">

                                {% csrf_token %}
                                {% if category in sub_cat %}
                                  <input type="hidden" name="subscribe" value="0">
                                   <button class="btn btn-danger text-white ml-sm-5">Unsubscribe</button>
                                {% else %}
                                    <input type="hidden" name="subscribe" value="1">
                                    <button class="btn btn-danger text-white ml-sm-5">Subscribe</button>
                                 {% endif %}

                              </form>
                          </li>

                                {% endfor %}
                                   
                                </nav>
                                </div>


                                <div>
                                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target=
                                "#collapsetags" aria-expanded="false" aria-controls="collapsetags">

                                 <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                 Tags
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="collapsetags" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav accordion" id="collapsetags">

                                    {% for tag in all_tags %}
                                      <a class="nav-link" href="{% url 'tagpage' tag.name %}" >
                                      {{tag.name }} </a>
                                    {% endfor %}
                                   
                                </nav>
                            </div>

  
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        Admin-user
                    </div>
                </nav>
            </div>

                <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                     <h1 class="text-center mb-3">Post</h1>    
                           
                                {%for post in all_posts%}

                                       <center><a href="{% url 'showpost' post.id %}"> {{ post.post_title}} </a></center>
                                        <center>
                                            <a href="{% url 'showpost' post.id %}"> 
                                            <img src="{{ post.post_image.url }}" width="450px" height="350px">
                                            </a>
                                        </center>
                                        <br>
                                        <!-- <p class="lead">{{ post.post_text }}</p>                                 -->
                                        <center><p class="lead">{{ post.post_date }}</p></center>
                                       <!--  <a href="likes" class="btn btn-primary btn-sm">Like</a>
                                        <a href="" class="btn btn-primary btn-sm">Dislike</a>
                                        <span class="badge badge-success float-right">Dislikes</span>
                                        <span class="badge badge-success float-right">Likes</span> -->
                                        <hr>
                                {%endfor%}
                         
                    </div>
                </main>
            </div>

                  {% endblock %}