{% extends 'localApp/base.html' %}
{% block content %}
<center>
<h1>{{ post_obj.post_title }}</h1>
<img src="{{ post_obj.post_image.url }}" width="450px" height="350px">
<p class="lead">{{ post_obj.post_text }}</p>
<p class="lead">{{ post_obj.post_date }}</p>
<h4>Comments:</h4>
{% for comment in comment %}
<p class="lead">{{ comment.comment_text }}</p>
<br>
{% endfor %}
<a href="likes" class="btn btn-primary btn-sm float-left">Like</a>
<a href="" class="btn btn-primary btn-sm float-left">Dislike</a>
<span class="badge badge-success float-right">Dislikes</span>
<span class="badge badge-success float-right">Likes</span>
</center>
{% endblock %}
